.footer {
    background-color: #33bbc5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  
  .footer-left-side, .footer-right-side {
    flex: 1;
  }
  .footer-left-side {
    font-size: 0.7rem;
    text-align: center;
  }
  .vertical-line {
    height: 30px;
    border-left: 3px solid white;
  }
  
  .footer-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    width: 90px;
    font-size: 0.8rem;
  }
  